# Medusa backend API
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# Medusa publishable API key
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=

# Default country/region
NEXT_PUBLIC_DEFAULT_REGION=rs

# Storefront public base URL
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Optional payment provider public key
NEXT_PUBLIC_STRIPE_KEY=

# Optional Medusa Cloud S3 config
MEDUSA_CLOUD_S3_HOSTNAME=
MEDUSA_CLOUD_S3_PATHNAME=

NODE_ENV=development
